{% extends 'app_web/base.html' %}
{% block title %}
    <title>Página Inicial</title>
{% endblock %}
{% block conteudo %}
    <h1 style="text-align: center;">O que gosto de assistir? - Jonatas L. de Sousa</h1>
    <div class="container">
        <button class="btn btn-success" style="margin: 5% 0 5% 0;"><a style="color: white;"href="{% url 'novo_conteudo'%}">Novo Conteúdo Assistido?</a></button>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center; padding: 0 10px 0 10px;">Id</th>
                    <th scope="col" style="text-align: center; padding: 0 10px 0 10px;">Nome</th>
                    <th scope="col" style="text-align: center; padding: 0 10px 0 10px;">Finalizado</th>
                    <th scope="col" style="text-align: center; padding: 0 10px 0 10px;">Resenha</th>
                </tr>
            </thead>
            <tbody>
            {% for dado in dados%}
                <tr>
                    <td style="text-align: center;">{{dado.id}}</td>
                    <td style="text-align: center;">{{dado.nome}}</td>
                    <td style="text-align: center;">
                        {%if dado.finalizado%}
                            <input type="checkbox" checked disabled>
                        {% else %}
                            <input type="checkbox" disabled>
                        {% endif %}
                    </td>
                    <td style="text-align: justify;">{{dado.resenha}}</td>
                    <td style="text-align: center;"><button class="btn btn-info" style="margin-left: 5%;"><a style="color: white;" href="{% url 'detalhes' dado.id %}">Detalhes</a></button></td>
                    <td><button style="margin-left:5%;" class="btn btn-warning"><a style="color: white;" href="{% url 'editar' dado.id %}">Editar</a></button></td>
                    <td><button style="margin:0 5% 0 5%;" class="btn btn-danger"><a style="color: white;" href="{% url 'excluir' dado.id %}">Excluir</a></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock%}